* {
    margin: 0;
    padding: 0;
}

body {
    background: #EFEFBB;
    background: linear-gradient(to right, rgb(165, 245, 183), rgb(237, 153, 153));
    color: white;
    margin: 0;
    font-family: rubik;
}

.container {
    padding: 40px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 54px;
}

.pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

.card {
    list-style: none;
    padding: 40px;
    color: #222;
    text-align: center;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.card::after {
    content: "";
    display: block;
    width: 50%;
    height: 45%;
    border-radius: 100%;
    background-color: #fff;
    opacity: .7;
    position: absolute;
    top: 15%;
    left: 25%;
}

.steel {
    background-color: #aab;
}

.fire {
    background-color: #f42;
}

.grass {
    background-color: #7c5;
}

.electric {
	background-color: #fc3;
}

.water {
	background-color: #39f;
}

.ice {
    background-color: #6cf;
}

.ground {
	background-color: #db5;
}

.rock {
	background-color: #ba6;
}

.fairy {
	background-color: #e9e;
}

.poison {
	background-color: #a59;
}

.bug {
	background-color: #ab2;
}

.dragon {
	background-color: #76e;
}

.psychic {
	background-color: #f59;
}

.flying {
	background-color: #89f;
}

.fighting {
	background-color: #b54;
}

.normal {
	background-color: #aa9;
}

.ghost {
    background-color: #66b;
}

.dark {
    background-color: #754;
}

.card:hover {
    animation: bounce 0.5s linear;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 25px;
    font-weight: normal;
    position: relative;
    z-index: 2;
}

.card-subtitle {
    margin-top: 5px;
    color: #304242;
    font-weight: lighter;
    position: relative;
    z-index: 2;
}

.card-image {
    height: 150px;
    max-width: 200px;
    position: relative;
    z-index: 2;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    
    40% {
        transform: translateY(0px);
    }  
    
    80% {
        transform: translateY(-2px);
    }  
    
    100% {
        transform: translateY(0);
    }  
}

.search_pokemon {
    height: 25px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(165, 245, 183), rgb(176, 232, 179));
    color: #FFF;
}

.search-submit {
    height: 25px;
    width: 100px;
    border-radius: 10px;
}